* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }
  
html, body {
    height: 100%;
  }
  
.section-container {
    position: relative;
    padding: 0;
    min-height: 100vh; /* Ensure Section1 covers the entire viewport */
    box-sizing: border-box;
    background-color: #e4e2e2;

  
    }

.skills{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 8rem;
    left: 10rem;
    /* background-color: rgb(234, 0, 255); */
    }

.likes{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30rem;
    left: 65rem;
}

.skills  h1{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family:monospace;
    position: absolute;
    top: 1rem;
    margin-left: 5rem;

}

.likes h1{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: monospace;
    top: 6rem;
    margin-left: 4rem;
    position: absolute;


}

ul{
    list-style-type: none;
    color: rgb(255, 255, 255);
}



.skills-items ul{
    text-align: center;
    margin-top: 5rem;
}

.skills-items li{
    margin-top: .5rem;
    font-size: 20px;
    font-family: monospace;
    padding: 10px;
}

.skills-items li button{
    width: 100%;
    height: 60px;
    
}

.likes-items ul{
    text-align: center;
    margin-top: 10rem;

}

.likes-items li{
    margin-top: .5rem;
    font-size: 20px;
    font-family: monospace;
    padding: 10px;
    
}

.likes-items li button{
    width: 100%;
    height: 60px;
   
}

.skills_images{
    position: absolute;
    margin-left: 65rem;
    margin-top: 4rem;
}

.likes_images{
    position: absolute;
    margin-top: 6rem;
    margin-left: 22rem;
}

.python_img{
    position: absolute;
    margin-top: 5rem;
}
.python_img img, .java_img img, .js_img img, .teamwork_img img{
    width: 150px;
    border-radius: 100px;
}

.java_img{
    position: absolute;
    margin-top: 16rem;
}

/* .js_img{
    position: absolute;
    margin-top: 0.3rem;
} */

.multitasking_img img {
    width: 200px;
    border-radius: 200px;
}

.multitasking_img{
    position: absolute;
    margin-top: 7rem;
    margin-left: -16rem;
}

.teamwork_img{
    position: absolute;
    margin-left: 13rem;
    margin-top: 15rem;
    
}

.guitar_img img{
    width: 150px;
    border-radius: 100px;
}

.guitar_img{
    position: absolute;
    margin-top: 32rem;
    margin-left: 27rem;
}
.books_img img{
    width: 200px;
    border-radius: 250px;
}

.books_img{
    position: absolute;
    margin-top: 30rem;
    margin-left: 10rem;
}

.baking_img img{
    width: 150px;
    border-radius: 100px;
}

.baking_img{
    position: absolute;
    margin-top: 40rem;
    margin-left: -5rem;
}
.btn {
    font-family: monospace;
    text-transform: uppercase;
  } 
   
  .btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
    
  } 
   
  .btn-rect-to-round {
    height: 55px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease-in 0s;
  } 
   
  .btn-rect-to-round:hover {
    border-radius: 60px;
    color: rgb(255, 255, 255) !important;
  } 
   
  .btn-rect-to-round--black {
    border: 2px solid rgb(51, 51, 51);
    color: rgb(51, 51, 51) !important;
  } 
   
  .btn-rect-to-round--black:hover {
    border-color: rgb(51, 51, 51);
    background: rgb(51, 51, 51);
  } 
   
  @keyframes heartbeat {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    to {
      transform: scale(1);
    }
  }
  
  .heartbeat {
    animation: heartbeat 0.7s infinite;
  }